<div class="card1">
    <div class="card-body text-center" >
        Copyright © 2023 - 2025 softwareCompany®. All rights reserved.
    </div>
  </div>
  <style>
    .card1{    
  background-color: #2b5c7b;
  color: aliceblue;
    }
  </style>